.container{
	margin-top: 200px;
	padding: 50px;
	margin-bottom: 150px;
}

.text-center{
	color: white;
	margin-bottom: 50px;
}
.erreur{
	color: red;
	text-align: center;
}

.bout{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.foot{
	padding: 15px;
	text-align: center;
	color: white;
	font-size: 18px;
}