@media only screen and (min-width: 1600px){

body{

	display: flex;
	justify-content: space-around;
	
}
.section{
	background-color: #88c1d0;
	width: 20%;
	height: 200px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1599px){

body{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 500px;

}
.section{
	background-color: #88c1d0;
	width: 40%;
	height: 200px;
}
}

@media only screen and (max-width: 767px){

body{

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 900px;
	align-items: center;


}
.section{
	background-color: #88c1d0;
	width: 60%;
	height: 200px;
}
}